#BOT_TOKEN=YOUR_BOT_TOKEN_HERE
#ADMIN_IDS=3444555, 444422 #admins_id
#SUPPORT_URL=https://t.me/support

#MARZBAN_URL=https://example.com
#MARZBAN_USERNAME=USERNAME
#MARZBAN_PASSWORD="PASSWORD"

#SECRET_KEY=UKASSA_SECRET_KEY
#ACCOUNT_ID=UKASSA_ACCOUNT_ID

#DB_PATH='data/orders.db'
#PROXY_URL='http://host.docker.internal:10808'