UVICORN_IP='127.0.0.1'
UVICORN_PORT=8001

BOT_TOKEN=BOT_TOKEN
ADMIN_IDS=3444555, 444422 #admins_id
SUPPORT_URL=SUPPORT_URL

MARZBAN_URL=MARZBAN_API_URL
MARZBAN_USERNAME=USERNAME
MARZBAN_PASSWORD="PASSWORD"

SECRET_KEY=UKASSA_SECRET_KEY
ACCOUNT_ID=UKASSA_ACCOUNT_ID

DB_PATH='data/orders.db'
#PROXY_URL='http://host.docker.internal:10808'